@using WebApplication1.Models.DTOs;

<div class="mt-2">
    <ul class="ps-0">
        <li class="bg-transparent list-group-item border-0 ps-2" style="height: 50px;">
            <span>Категории</span>
        </li>
        <li class="bg-transparent list-group-item border-0 ps-2" style="height: 50px;">
            <a class="text-primary ps-2 border-start border-primary border-5" href="/Categories/All">Список</a>
        </li>
        <li class="bg-transparent list-group-item border-0 ps-2" style="height: 50px;">
            <a class="text-primary ps-2 border-start border-primary border-5" href="/Categories/Add">Добавить</a>
        </li>
        <li class="bg-transparent list-group-item border-0 ps-2" style="height: 50px;">
            <span>Товары</span>
        </li>
        <li class="bg-transparent list-group-item border-0 ps-2" style="height: 50px;">
            <a class="text-primary ps-2 border-start border-primary border-5" href="/Products/All">Список</a>
        </li>
        <li class="bg-transparent list-group-item border-0 ps-2" style="height: 50px;">
            <a class="text-primary ps-2 border-start border-primary border-5" href="/Products/Add">Добавить</a>
        </li>
        <li class="bg-transparent list-group-item border-0 ps-2" style="height: 50px;">
            <span>Пользователи</span>
        </li>
        <li class="bg-transparent list-group-item border-0 ps-2" style="height: 50px;">
            <a class="text-primary ps-2 border-start border-primary border-5" href="/Users/All">Список</a>
        </li>
    </ul>
</div>

