<div class="d-flex col-lg-3 col-sm-5 align-items-center">
    <input id="search-field" class="form-control" type="search" placeholder="Поиск товаров"/>
    <button id="search-button" class="btn btn-primary ms-2">Найти</button>
</div>